
.backgroundimage{
    background-image: url(https://wallpaperaccess.com/full/187161.jpg);
    image-orientation:flip;
    width:unset;
    height: 609px;
    background-repeat:no-repeat;
    image-rendering: unset;
}

.block{
    margin-left: 100px;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
   
}



